# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# Project specific
logs/
data/
LICENSE
README.md

# OS files
.DS_Store
Thumbs.db
